{{!-- Creates each blog post on the page --}}
<section class="post">
  <a href="/blog/{{id}}">
    <header class="blog-header">
      <h2>{{title}}</h2>
      <p class="blog-details">Posted by
        {{user.username}}
        on
        {{format_date created_date}}</p>
    </header>
  </a>
  <div class="blog-text"><p>{{text}}</p></div>
</section>